#wrapper {
    background: #ffff;
    color: #000000;
}

/* Breadcrums */
#wrapper .breadcrumd {
    margin-top: 20vh;
    background: #b8b3b3;
    padding-left: 10px;
    /* padding-top: 5px;
      padding-bottom: 1px; */
  }
  
  #wrapper .breadcrumd .list-breadcrumd {
    list-style: none;
    padding-left: 0px;
  }
  
  #wrapper .breadcrumd .list-breadcrumd li a.breadcrumb-item {
    padding-right: 5px;
    text-decoration: none;
    color: #565656;
    font-weight: bold;
  }
  
  #wrapper .breadcrumd .list-breadcrumd li a.breadcrumb-item.bread_active {
    color: #3744f7;
  }

  #wrapper .breadcrumd .list-breadcrumd li:first-child a.breadcrumb-item::before {
    font-family: fontawesome;
    content: "\e3af";
    color: #565656;
    padding-right: 10px;
}
  
  #wrapper .breadcrumd .list-breadcrumd li:first-child a.breadcrumb-item::after {
    /* font-family: fontawesome; */
    content: "/";
    color: #565656;
    padding: 0px 10px;
  }
  /* End Breadcrums */

  /* wp-details */
.wp-detailsnew {
    margin: 0px auto;
    padding: 15px 20px;
}

.wp-detailsnew .info-more {
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  
.wp-detailsnew .info-more .date-time {
    padding: 0px 0px 0px 5px;
    font-size: 1em;
    font-weight: 400;
  }
  
.wp-detailsnew .info-more .author-item {
    font-weight: 500;
    color: aqua;
    margin: 0px;
    font-size: 1em;
    padding-left: 4px;
  }
  
.wp-detailsnew .info-more .author-item::before {
    font-family: fontawesome;
    content: "\f111";
    color: #565656;
    font-size: 0.3em;
    padding-right: 5px;
}

.wp-detailsnew .description-news {
   
    color: #000000;
    padding: 10px 0px;
    font-size: 17px;
    font-weight: 500;
    text-align: justify;
}

.wp-detailsnew .title-list {
    font-weight: 900;
    font-size: 21px;
    text-align: justify;
}

.wp-detailsnew .step-description {

}

.wp-detailsnew ul.list-description {
    padding: 0px 18px;
}

.wp-detailsnew ul.list-description li.item-description {
    
}

.wp-detailsnew .tags-new {
    margin-top: 9vh;
    display: flex;
    align-items: center;
    justify-content: start;
}

.wp-detailsnew .tags-new .tag-name {
    color: #565656;
    font-size: 16px;
    font-weight: 600;
    text-align: justify;
}

.wp-detailsnew .tags-new ul.list-tag {
    display: flex;
    list-style-type: none;
    padding: 0px;
} 

.wp-detailsnew .tags-new ul.list-tag li.tag-items {
    padding: 0px 5px;
}

.wp-detailsnew .tags-new ul.list-tag li.tag-items a.details-tag {
    text-decoration: none;
    text-align: justify;
    padding: 10px 9px;
    display: block;
    background-color: #565656;
    font-weight: 500;
    color: #a39e9e;
    border-radius: 7px;
    border: 2px solid #fff;
}

.wp-detailsnew .post-relate {
    margin-top: 5px;
}

.wp-detailsnew .post-relate .post-title .tieude-relate {
    text-transform: uppercase;
    font-size: 21px;
    color: #565656;
    text-align: justify;
}

.wp-detailsnew .post-relate .post-body ul.list-relate {
    display: flex;
    padding: 0px;
    justify-content: space-between;
    list-style: none;
}

.wp-detailsnew .post-relate .post-body ul.list-relate li {
    flex-basis: 32%;
    /* padding: 0px 9px; */
}

.wp-detailsnew .post-relate .post-body ul.list-relate li:first-child {
    padding-left: 0px;
}

.wp-detailsnew .post-relate .post-body ul.list-relate li:last-child {
    padding-right: 0px;
}

.wp-detailsnew .post-relate .post-body ul.list-relate li .item-post-images {
    max-width: 100%;
    overflow: hidden;
    display: block;
}

.wp-detailsnew .post-relate .post-body ul.list-relate li .item-post-images img {
    border-radius: 10px;
    width: 100%;
}

.wp-detailsnew .post-relate .post-body ul.list-relate li .item-post-title {
    margin-top: 12px;
}

.wp-detailsnew .post-relate .post-body ul.list-relate li .item-post-title .title-relate {
    text-decoration: none;
    color: #3744f7;
    text-align: justify;
    font-size: 15px;
    font-weight: 700;
}

/* Footer */
.footer {
    margin-top: 100px;
}