/* Extra large devices (larger desktops, 1200px and up) */

@media (max-width: 1200px) {
  
}
/* large devices (desktops, 992px and up) */

@media (max-width: 992px) {
  #wrapper .header nav {
    flex-basis: unset;
  }
  .name-company {
    display: none;
  }
  #wrapper .header #logo-header {
    display: block;
  }
  .footer {
    padding: 20px 10px 0px;
  }
  ul.navbar-header {
    display: flex;
  }
  #navbar-toggle {
    display: none;
    z-index: 5;
  }
  .mobile-general,
  .mobile-general .icons-shopinfo {
    display: none;
  }
  #wrapper .header nav ul.navbar-header,
  #wrapper .header nav .icons-shopinfo,
  #wrapper .header .product-category ul#product-menu {
    display: flex;
  }
  #wrapper #detail-blogs {
    padding: 15vh 10px 0;
  }

  .blogs-body .blogs-post-list .blogs-details .blogs-name {
    margin-bottom: 13vh;
  }
}
/* Medium devices (tables, 768px and up) */
@media (max-width: 768px) {
  .header-wrap {
    flex-direction: column;
  }
  .mobile-general #logo-mobile {
    width: 187px;
    height: 128px;
  }
  .mobile-general {
    padding: 0;
  }
  .product-body ul.special-product {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
  }
  .dish-product .dish-body ul.dish-special {
    /* display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; */
  }
  .dish-product .dish-title .content-dish {
    font-size: 25px;
  }
  .policy-list ul.chinhsachus li.policy-item a.detail-policy {
    font-size: 14px;
  }

  .blogs-body .blogs-post-list .blogs-details .blogs-name {
    /* margin-bottom: 3rem; */
  }
  #wrapper #detail-blogs {
    padding: 10vh 10px 10px 10px;
  }
  .footer {
    padding: 20px 30px 0px;
  }
  .footer .wp-footer {
    gap: 3rem;
  }
  .dish-popular .popular-body .list-dish-popular {
    gap: 10px;
  }
  #wrapper .abouts-us .images-us {
    margin: 0 10px;
  }
  .dish-popular .popular-header {
    padding: 10px;
  }
  .dish-popular .popular-header img {
    width: 100%;
    height: 100%;
  }
  .new-footer-icon-item-body {
    font-size: 12px;
  }
  .shipper p {
    font-size: 25px;
  }
}
@media (max-width: 576px) {
  .mobile-general,
  .mobile-general .icons-shopinfo {
    display: flex;
    flex-direction: row;
  }
  .header-wrap {
    display: none;
  }
  .bg-images {
    margin-top: 18px;
  }
  .mobile-general {
    padding: 0px 0px 13px;
  }
  ul.navbar-responsive {
    top: 127px;
  }
  .product-body ul.special-product {
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }
  ul.special-product li.product-item .product-picture a.img-product {
    height: 275px;
  }
  .dish-product .dish-body ul.dish-special {
    flex-direction: column;
  }
  .dish-product .dish-body ul.dish-special .dish-item {
    padding: 10px;
  }
  ul.dish-special .dish-item .dish-picture a.img-dish {
    height: 200px;
  }
  .dish-product .dish-title .content-dish {
    font-size: 21px;
  }
  .category-footer {
    flex-direction: column;
    padding: 10px;
  }
  .banner {
    padding: 10px;
    margin: 0;
  }
  .footer-new {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 0;
  }
  .new-footer-icon-item-body {
    font-size: 11px;
  }
  .new-footer-icons {
    gap: 10px;
  }
  .img-responsive {
    max-height: 73px;
  }
  .new-footer-right img {
    width: 100%;
  }
  .footer-coppyright .policy-list ul.chinhsachus {
    flex-direction: column;
  }
  .policy-list ul.chinhsachus li.policy-item::after {
    border: none;
  }
  .footer-coppyright .footer-lisense {
    gap: 10px;
  }
  .slide {
    margin-top: 109px;
    background-size: contain;
  }
  #wrapper #detail-blogs {
    padding: 8rem 10px 10px 10px;
  }
  .picture-blogs img {
    width: 100%;
  }
  #detail-blogs .content-blogs {
    text-align: start;
  }
  .blogs .blogs-body .blogs-post-list {
    flex-direction: column;
  }
  .blogs-body .blogs-post-list .blogs-details {
    padding: 10px !important;
  }
  .blogs-body .blogs-post-list .blogs-details:first-child {
    padding-left: auto;
  }
  #wrapper .abouts-us .images-us {
    background-size: contain;
    min-height: 500px;
    background-repeat: round;
    margin: 0 10px;
  }
  #wrapper .abouts-us .watch-popular .watch-us {
    width: 70%;
  }
  #wrapper .abouts-us .images-us::before {
    height: 100px;
    bottom: 40%;
  }
  .dish-popular .popular-body .list-dish-popular {
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .footer .wp-footer .policy-footer {
    padding: 0;
    margin: 0;
  }
  .footer .wp-footer {
    flex-direction: column;
  }
  .footer .wp-footer .item-policy {
    padding: 10px 10px 0;
    font-size: 17px;
  }
  .footer .wp-footer .address-company {
  }
  .footer .wp-footer {
    gap: 1rem;
  }
  #navbar-toggle {
    display: block;
    z-index: 5;
  }
  .footer .coppyright-footer {
    margin-top: 1rem;
    font-size: 12px;
    text-align: left;
  }
}
